@page
@model OdeToFood.Pages.Restaurants.NotFound

@{
    ViewData["title"] = "NotFound";
}

<!DOCTYPE html>

<h1>Your searched restaurant can not be found</h1>
<a asp-page="./List" class="btn btn-default">Return to list of restaurants</a>